@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.container {
  margin-top: 1rem;
}

.spinner-wrap {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
  align-items: center;
}

.social-request {
  max-width: 18rem;
}

.social-request-avatar {
  max-width: 7rem;
  padding: .5rem;
}

body {
  background-color: #EEEEEE
}

a {
  text-decoration: none !important
}

.card-product-list,
.blog-post {
  margin-bottom: 0
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
  margin: 1ch;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.blog-post:hover {
  -webkit-box-shadow: 0 4px 15px rgba(64, 64, 64, 0.3);
  box-shadow: 0 4px 15px rgba(64, 64, 64, 0.3);
  -webkit-transition: .3s;
  transition: .3s
}

.blog-post .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px
}

.card .img-wrap {
  overflow: hidden
}

.card-lg .img-wrap {
  height: 280px
}




.blog-post .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 275px;
  padding: 16px
}

.img-wrap {
  text-align: center;
  display: block
}

.blog-post .info-wrap {
  overflow: hidden;
  padding: 18px 20px
}

.blog-post .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4
}

.bottom-wrap-payment {
  padding: 0px;
  border-top: 1px solid #e4e4e4
}

.rated {
  font-size: 10px;
  color: #b3b4b6
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.45rem 0.85rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem
}

.btn-primary {
  color: #fff;
  background-color: #3167eb;
  border-color: #3167eb
}

.fa {
  color: #FF5722
}

.shout.form-control {
  min-height: 11ch;
  max-width: 80%;
  max-height: 20ch;
  font-family: 'Space Mono';
  font-size: medium;
}


.shout.btn {
  min-height: 11ch;
  min-width: 100%;
  font-family: 'Space Mono';
  /* padding: 2rem; */
  font-size: large;
  margin-left: 1ch;
  border: 1px solid lightgrey;
  /* border-radius: 1rem; */
}


.navatar {
  border-radius: 50%;
}

.avatar-thumb {
  width: 5rem;
  height: 5rem;
}

.reply-avatar {
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.shout-out-avatar {
  width: 5rem;

  /* margin: 0.4rem; */
  margin-left: 1rem;
  /* margin-right: 1rem; */
  border-radius: 50%;
}

.profile-image-limited {
  width: 7rem;
  border-radius: 50%;
}

.profile-image-frame {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.avatar-image {
  border-radius: 50%;
  width: 15vw;
  max-width: fit-content;
}

.shouter-name {
  margin-left: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  color: darkslateblue;
}

.shouter-username {
  margin-top: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  color: darkslategray
}

.shouter-timestamp {
  margin-top: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: x-small;
  color: darkgreen;
}

.blog-post {
  font-family: 'Space Mono';
  font-size: medium;
  padding-bottom: 0.5rem;
}

.preview-image {
  cursor: pointer;
  max-width: 20rem;
  border-radius: 50%;
  margin: 1rem;
}

.userlist-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.userlist-card {
  min-width: 12rem;
  max-width: 12rem;
}

.userlist-card-selected {
  min-width: 12rem;
  max-width: 12rem;
  background-color: lightblue;
}

.userlist-card-offline {
  background-color: lightgray;
  min-width: 12rem;
  max-width: 12rem;
}
.userlist-card-offline-selected {
  background-color: darkgrey;
  min-width: 12rem;
  max-width: 12rem;
}


.userlist-card:hover {
  -webkit-box-shadow: 0 4px 15px rgba(128, 128, 128, 0.3);
  box-shadow: 0 4px 15px rgba(128, 128, 128, 0.3);
  -webkit-transition: .5s;
  transition: .5s
}

.userlist-card .offline {
  background-color: #343a40;
}

.blog-post.card {
  margin-top: 1rem;
  min-height: 200px;
}

.centered-spinner-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  margin-top: 7rem;
}

a.clickable-card .card {
  color: darkslategrey;
  /* border: 19px solid black; */
}

.socket-connect-status {
  margin-right: 1rem;
}

li {
  list-style-type: none;

}

.nav-item.active {
  /* border:rgba(64, 64, 64, 0.3) 1px solid; */
  /* border-radius: 5px; */
  /* color: whitesmoke; */
  /* background-color: grey; */
  text-decoration: underline;
}

.nav-link {
  color: rgba(64, 64, 64, 0.7)
}

a>.active {
  color: rgba(64, 64, 64, 0.7)
}


a>span.app-clock {
  font-size: smaller;
  color: rgba(33, 37, 41, 0.7)
}


.show>.dropdown-menu {
  animation-name: basicAnimation;
  animation-duration: .34s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: basicAnimation;
  -webkit-animation-duration: .34s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: basicAnimation;
  -moz-animation-duration: .34s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes basicAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes basicAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.paginator {
  margin: 1rem;
  border-radius: 50%;
}

.threadList {
  animation: basicAnimation 2s;
}

/* .feedList {
  animation-name: basicAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: basicAnimation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: basicAnimation;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
} */
.userlist-container {
  animation: basicAnimation 1s;
}

.profile-page {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  animation: basicAnimation 1s;

}

.blog-post.card {
  animation: basicAnimation 1s;
}

.userlist-card.card {
  animation: .5s ease-in basicAnimation;
}

.socket-event {
  display: flex;
  flex-direction: column-reverse;
  background-color: #34403f;
  min-height: 20ch;
  color: whitesmoke;
}

.socket-result {
  display: flex;
  flex-direction: column-reverse;
  background-color: #343a40;
  min-height: 42ch;
  color: rgba(18, 219, 25, .9);
  max-height: 42ch;
}

.user-offline {
  font-style: italic;
  color: grey;
}

.messenger {
  display: flex;
  flex-direction: column-reverse;
  background-color: #343a40;
  min-height: 42ch;
  color: rgba(18, 219, 25, .9);
  max-height: 42ch;
  max-width: 80ch;
  padding-left: 1ch;
}

.messenger-input {
  max-width: 75ch;
}

.messenger-wrapper {
  display: flex;
  flex-flow: column;
  align-items: space-around;
  justify-content: center;
  /* padding:2ch; */
  /* border:rgba(33, 37, 41, 0.7) 1px solid; */
  /* border-radius: 5px; */
  margin-top: 1rem;
}

.custom-tag {
  max-width: 100%;
  padding: 5rem;
  height: 500px;
  background: black;
  align-self: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  /* height: 500px; */
  /* background: black; */
}

.carousel-item.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 500px; */
}
.carousel-image {
  display: flex;
  border-radius: 5px;
  margin-bottom: 2rem;
  width: 25rem;
  height: 25rem;
}
.carousel-caption h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  font-style:unset;
  font-weight: lighter;
  transition-delay: 0ms;
}

.card:hover {
  -webkit-box-shadow: 0 4px 15px rgba(64, 64, 64, 0.3);
  box-shadow: 0 4px 15px rgba(64, 64, 64, 0.3);
  -webkit-transition: .3s;
  transition: .3s
}

.spinner-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 27rem;
  min-width: 25rem;
}

.about-img {
  border-radius: 50%;
  max-width: 60%;
  border:rgba(0, 0, 0, .1) 1px solid;
  margin-right: 1rem;
  /* max-width: 50%; */
  -webkit-box-shadow: 0 2px 7px rgba(64, 64, 64, 0.3);
  box-shadow: 0 2px 7px rgba(64, 64, 64, 0.3);
}
.about-img-div {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.about-img-div-r {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.about-text {
  font-size: large;
  letter-spacing: 1px;
  font-weight: 300;
}
.about-text-center {
  font-size: larger;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: italic;
}
.sign-up-link {
  border: 1px solid grey;
  padding: 1ch 5rem 1ch 5rem;
  border-radius: 3.14rem; 
  background-color: #309CED;
  color: white;
}

.sign-up-link:hover {
  text-decoration: none !important;
  color: white;
  background-color: #0e89e8;
}

.sign-in-link {
  background-color: white;
  border: 1px solid grey;
  padding: 1ch 5rem 1ch 5rem;
  border-radius: 3.14rem;
}

.sign-in-up-div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.signed-up-already {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sign-in-link:hover {
  background-color: whitesmoke;
}

.dob {
  margin-left: 1rem;
}

.delay-render {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

}