@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
  margin: 5px;
}

.App-link-profile {
  color: rgb(112, 76, 182);
  margin: 5px;
  max-width: 4rem;  
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  /* padding-left: 40px; */
}
li {
  padding: 5px 10px;
  /* background-color: #AAAAAA;  */
  border: 1px solid #DDDDDD;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x: hidden;
}

li:hover {
  border: 1px solid #111111;

}

span#ws-message {
  font-family: 'Space Mono', monospace;
}

.profile-picture-frame {
  display: flex;
}

.blog-post {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  padding-top: 1rem;
}
