@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.container {
  margin-top: 1rem;
}

.spinner-wrap {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
  align-items: center;
}

.social-request {
  max-width: 18rem;
}

.social-request-avatar {
  max-width: 7rem;
  padding: .5rem;
}

body {
  background-color: #EEEEEE
}

a {
  text-decoration: none !important
}

.card-product-list,
.blog-post {
  margin-bottom: 0
}

.card {
  max-width: 64rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  /* margin-top: 1rem; */
  margin: .1rem;
}

.blog-post:hover {
  -webkit-box-shadow: 0 4px 15px rgba(64, 64, 64, 0.3);
  box-shadow: 0 4px 15px rgba(64, 64, 64, 0.3);
  -webkit-transition: .3s;
  transition: .3s
}

.blog-post .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px
}

.card .img-wrap {
  overflow: hidden
}

.card-lg .img-wrap {
  height: 280px
}

.blog-post .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 275px;
  padding: 16px
}

.img-wrap {
  text-align: center;
  display: block
}

.blog-post .info-wrap {
  overflow: hidden;
  padding: 18px 20px
}

.blog-post .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4
}

.bottom-wrap-payment {
  padding: 0px;
  border-top: 1px solid #e4e4e4
}

.rated {
  font-size: 10px;
  color: #b3b4b6
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.45rem 0.85rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem
}

.btn-primary {
  color: #fff;
  background-color: #3167eb;
  border-color: #3167eb
}

.fa {
  color: #FF5722
}

.shout.form-control {
  min-height: 125px;
  max-width: 80%;
  font-family: 'Space Mono';
  font-size: medium;
}

.shout.btn-primary {
  font-family: 'Space Mono';
  padding: 2rem;
  font-size: large;
  /* border: 1px solid lightgrey; */
  border-radius: 1rem;
}


.navatar {
  border-radius: 90%;
}

.avatar-thumb {
  width: 5rem;
  height: 5rem;
  border-radius: 90%;
}

.shout-out-avatar {
  height: 3.4rem;
  width: 5rem;

  /* margin: 0.4rem; */
  margin-left: 1rem;
  /* margin-right: 1rem; */
  border-radius: 100%;
}

.shouter-name {
  margin-left: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  color: darkslateblue;
}

.shouter-username {
  margin-top: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  color: darkslategray
}

.shouter-timestamp {
  margin-top: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: x-small;
  color: darkgreen;
}

.blog-post {
  font-family: 'Space Mono';
  font-size: medium;
  padding-bottom: 0.5rem;
}

.preview-image {
  max-width: 20rem;
  border-radius: 1rem;
  margin: 1rem;
}

.userlist-container {
  display: flex;
  flex-flow: row wrap;
}

.userlist-card {
  display: flex;
  /* justify-content: center; */
  width: 12rem;
}

.userlist-card:hover {
  -webkit-box-shadow: 0 4px 15px rgba(128, 128, 128, 0.3);
  box-shadow: 0 4px 15px rgba(128, 128, 128, 0.3);
  -webkit-transition: .5s;
  transition: .5s
}

.blog-post.card {
  margin-top: 1rem;
  min-height: 200px;
}

.centered-spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

a.clickable-card .card {
  color: darkslategrey;
  /* border: 19px solid black; */
}

.socket-connect-status {
  margin-right: 1rem;
}

li {
  list-style-type: none;

}

.nav-item.active {
  /* border:rgba(64, 64, 64, 0.3) 1px solid; */
  /* border-radius: 5px; */
  /* color: whitesmoke; */
  /* background-color: grey; */
  text-decoration: underline;
}
.nav-link {
  color:rgba(64, 64, 64, 0.7)
}

a>.active {
  color:rgba(64, 64, 64, 0.7)
}


a>span.app-clock {
  font-size: smaller;
  color: rgba(33, 37, 41, 0.7)
}


.show>.dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: .34s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: .34s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: .34s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}